@{
    ViewBag.Title = "User Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Style/StyleSheet.css" rel="stylesheet" />

<div ng-app="app">
    <div ng-controller="userCtrl">
        <div class="box box-info">
            <form id="frmEntry" name="frmEntry" class="form-horizontal" novalidate>
                <div class="box-body">
                    <div class="col-md-12 mycontainer">
                        <div class="form-group">
                            <input type="hidden" ng-model="userId" />
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Name</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" type="text" ng-maxlength="100" ng-model="name" name="name" required />
                                        <span ng-show="frmEntry.$submitted || frmEntry.name.$touched">
                                            <span class="error" ng-show="frmEntry.name.$error.required">Name is required.</span>
                                        </span>
                                        <span class="error" ng-show="frmEntry.name.$error.maxlength">
                                            Name not more than 100 char.
                                        </span>
                                    </div>
                                    <label class="col-sm-1 error">*</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Mobile</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" name="mobile" ng-model="mobile" />                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Address</label>
                                    <div class="col-sm-6">                                       
                                        <input class="form-control" type="text" ng-model="address" name="address"  />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6 text-right" style="padding-right:7%; ">
                        <button type="submit" class="btn btn-primary" ng-click="addUpdateUser(frmEntry)"><span class="glyphicon glyphicon-save"></span>&nbsp;{{Action}}</button>
                        <input type="button" class="btn btn-danger" value="Clear" ng-click="Cancel(frmEntry)" />
                    </div>
                </div>
            </form>

            <div class="col-xs-12">
                <div class="box box-info">
                    <div class="box-body">
                        <table datatable="ng" dt-options="dtOptions" class="table table-hover">
                            <thead>
                                <tr class="bg-gray">
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Mobile</th>
                                    <th>Address</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="user in users">
                                    <td>{{user.Name}}</td>
                                    <td>{{user.Email}}</td>
                                    <td>{{user.Mobile}}</td>
                                    <td>{{user.Address}}</td>
                                    <td><a class="btn btn-xs update" ng-click="editUser($index)" title="Edit"><i class="glyphicon glyphicon-pencil"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/angular/angular.min.js"></script>
    <script src="~/Scripts/angular/console-sham.js"></script>

    <script src="~/Scripts/angular/datatable/src/angular-datatables.directive.js"></script>
    <script src="~/Scripts/angular/datatable/src/angular-datatables.instances.js"></script>
    <script src="~/Scripts/angular/datatable/src/angular-datatables.util.js"></script>
    <script src="~/Scripts/angular/datatable/src/angular-datatables.renderer.js"></script>
    <script src="~/Scripts/angular/datatable/src/angular-datatables.factory.js"></script>
    <script src="~/Scripts/angular/datatable/src/angular-datatables.options.js"></script>
    <script src="~/Scripts/angular/datatable/src/angular-datatables.js"></script>

    <script src="~/CustomJS/Angular/common/appSettings.js"></script>
    <script src="~/CustomJS/Angular/app.js"></script>
    <script src="~/CustomJS/Angular/Controller/userController.js"></script>



}